<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="ReactJs Routing" stopProcessing="true">
                    <match url="^(?!(API|IMAGES)\/.*$).*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^index$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" logRewrittenUrl="true" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="AddSameSiteCookieFlag-UI">
                    <match serverVariable="RESPONSE_Set-Cookie" pattern="^(.*)(CFID|CFTOKEN|JSESSIONID)(=.*)$" />
                    <action type="Rewrite" value="{R:0};SameSite=None" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
